{
  "extends": "rallycoding",
  "rules": {
      "semi": ["error", "never"],
      "prefer-template": 0,
      "arrow-body-style": 0,
      "no-mixed-operators": 0,
      "max-len": [2, 1000, 4],
    }
}
